$kits_color_primary: #000000;
$kits_color_secondary: #000000;

.o_abstract_footer, .o_report_layout_abstract {
    color: black;
    font-size: 15px;
}

.o_abstract_header {
    color: white !important;
    padding-top: 0px !important;
    h3 {
        color: white !important;
    }
    img {
        max-height: 90px;
        max-width: 250px;
    }
    h4 {
        margin-bottom: 0;
        font-weight: 700;
    }
    ul, p {
        margin-bottom: 0;
    }
}
table#abstract-header{
    border: none !important;
    tbody{
        border: none !important;
    }
    tr{
        border: none !important;
        td{
            border: none !important;
        }
    }
}
address.o_portal_address {
    div span[itemprop="name"] {
        font-weight: bold;
        font-size: 18px;
    }
}

.o_abstract_footer {
    margin: 0 3px;
    margin-top: 200px;
    border-top: 3px solid $o-default-report-secondary-color;
    h4 {
        color: $o-default-report-secondary-color;
        font-weight: bolder;
    }
    .pagenumber {
        border: 3px solid $o-default-report-primary-color;
        background-color: $o-default-report-secondary-color;
        color: white;
        padding: 4px 8px;
        text-align: center;
    }
}

.o_report_layout_abstract {
    div#total ,.totals_taxes_company_currency{
        padding-top: 15px;
    }
}
