$kits_color_primary: #000000;
$kits_color_secondary: #000000;

.o_doc_name_footer, .o_doc_name_header, .o_report_layout_doc_name {
    color: black;
    font-size: 15px;
}
.o_doc_name_header {
    padding-top: 0px !important;
    img {
        max-height: 90px;
        max-width: 250px;
    }
    h4 {
        margin-bottom: 0;
        color: #999999;
        font-weight: 700;
    }
    ul, p {
        margin-bottom: 0;
    }
}
.doc_name_header{
    border-bottom: 1px solid $kits_color_primary;
}
table#doc_name-header{
    border: none !important;
    tbody{
        border: none !important;
    }
    tr{
        border: none !important;
        td{
            border: none !important;
        }
    }
}
address.o_portal_address {
    div span[itemprop="name"] {
        font-weight: bold;
        font-size: 18px;
    }
}
.o_doc_name_footer {
    font-size: 0.95rem;
    margin-top: 200px;
    border-top: 1px solid $kits_color_secondary;
    ul {
        margin: 4px 0;
    }
    p{
        margin-bottom: 0;
    }
}
.o_report_layout_doc_name{
    .o_total_table{
        .o_subtotal{
            border-top: 1PX solid black;
        }
        .o_total{
            border-top: 1px solid black;
        }
    }
    div#total ,.totals_taxes_company_currency{
        padding-top: 15px;
    }
}
